@page "/"

<h1 class="text-center">BENVENUTO IN BOOKSTORE!</h1>

<p class="text-center">Piattaforma di ricerca libri favoriti</p>

<div class="text-center">

    <NavLink class="nav-link" href="books">
        <button class="btn btn-success btn-lg">Elenco Libri</button>
    </NavLink>
</div>